################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/.vs/Code/FileContentIndex
/obj/Debug/net7.0
/obj
